/**
 * dui - 基础css
 */

/**
 * 尺寸
 */
$headHeight : #{'$headHeight'};
$footHeight : #{'$footHeight'};
$stateBarHeight : #{'$stateBarHeight'};

/**
 * 间隔
 */
$onePx : #{'$onePx'};
$speacing : #{'$speacing'};

/**
 * 颜色
 */
$red : #{'$red'};
$green : #{'$green'};
$blue : #{'$blue'};
$yellow : #{'$yellow'};
$gray : #{'$gray'};

/**
 * flex布局
 */
.flex { flex: 1; }
.flex0 { flex: 0; }
.flex1 { @extend .flex; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.center { align-items: center; justify-content: center; }
.right { align-items: flex-end; }
.stretch { align-items: stretch; }

/**
 * 文字
 */
.font_red { color: $red; }
.font_green { color: $green; }
.font_blue { color: $blue; }
.font_yellow { color: $yellow; }
.font_gray { color: $gray; }
.font_black { color: #000; }
.font_white { color: #FFF; }
.font_bold { font-weight: bold; }
.font_mini { font-size: 0.8rem; }
.font_legal { font-size: 1.5rem; }
//.font_breadAll { word-wrap: break-word; word-break: break-all; }







