/**
 * dui - 基础css
 */

/**
 * 间隔
 */
$onePx : #{'$onePx'};

/**
 * 颜色
 */
$red : #{'$red'};
$green : #{'$green'};
$blue : #{'$blue'};
$yellow : #{'$yellow'};
$gray : #{'$gray'};

/**
 * flex布局
 */
.flex { flex: 1; }
.flex0 { flex: 0; }
.flex1 { @extend .flex; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.center { align-items: center; justify-content: center; }
.right { align-items: flex-end; }
.stretch { align-items: stretch; }

/**
 * 文字
 */
.font-red { color: $red; }
.font-green { color: $green; }
.font-blue { color: $blue; }
.font-yellow { color: $yellow; }
.font-gray { color: $gray; }
.font-black { color: #000; }
.font-white { color: #FFF; }
.font-bold { font-weight: bold; }
.font-mini { font-size: 0.8rem; }
.font-legal { font-size: 1.5rem; }
.font-breadAll { word-wrap: break-word; word-break: break-all; }







